* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body,
html {
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  scroll-behavior: none;
  overscroll-behavior: auto;
}

:root {
  --white: #fff;
  --primary-white: #fff;
  --black: #000;
  --primary-black: #030b1d;
  --yellow: #f2d84b;
  --primary-core-blue: #0357ee;
  --primary-dark-10: #0349c6;
  --primary-dark-30: #022c77;
  --primary-dark-blue: #031335;
  --primary-light-blue: #b7cffa;
  --primary-light-10: #3679f1;
  --primary-light-40: #cfdffc;
  --primary-light-50: #ecf2fe;
  --dark-navy-dark-10: #081c48;
  --dark-navy-dark-20: #030b1d;
  --dark-navy-00: #092256;
  --dark-navy-light-10: #3e588e;
  --dark-navy-light-20: #8391af;
  --dark-navy-light-30: #05112b;
  --dark-navy-light-40: #c3c9d5;
  --dark-navy-light-50: #f9fafb;
  --secondary-dark-navy: #092256;
  --secondary-light-blue: #c4e9fd;
  --light-blue-00: #c4e9fd;
  --light-blue-light-30: #edf8fe;
  --light-blue-light-30: #e1f4fe;
  --light-blue-light-40: #ebf8fe;
  --light-blue-light-50: #f3fbff;
  --light-grey-100: #dcdfe6;
  --light-grey-10: #dcdfe638;
  --text-secondary: #8490aa;
  --light-yellow-00: #fff0c2;
  --light-yellow-dark-40: #555041;
  --border-radius: 32px;
  --tile-header-min-height: 90px;
  --tile-container-min-height: 500px;
}

section {
  background: var(--primary-dark-30);
  height: 100%;
}

.sec-container {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 0 40px;
}

.sec-container .head {
  min-width: 50%;
  height: 100%;
  padding: 40px;
}
.title {
  display: flex;
  align-items: center;
  background: var(--primary-light-10);
  width: 75%;
  border-radius: 30px;
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
}

.title2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.title2 .first {
  color: #fff;
}

.title2 .second {
  color: var(--light-blue-00);
}

.title3 {
  font-size: 27px;
  color: var(--light-blue-light-30);
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  margin-top: 20px;
  padding: 15px;
  background: var(--primary-core-blue);
  max-width: 25%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.btn svg {
  margin-left: 20px;
  font-size: 20px;
}

.btn:hover {
  transform: scale(0.95);
}
